h1 {
  color: black;
}

body {
  background-color: hsl(0, 100%, 75%);
  position: relative;
  text-align: center;
}

h2 {
  font-size: large;
}

form {
  display: inline-block;
}

#title {
  text-decoration: underline;
  text-decoration-style: dashed;
}

#survey-form {
  border: 3px solid black;
  padding: 15px 15px 15px 15px;
}

#submit {
  float: right;
}
